/* All of the h1 adjustments */
h1{
  font-family: verdana;
  margin: 0;
  color: black;
  text-align: center;
  font-size: 110%;
  padding:20px;
}

/* All of the h2 adjustments */
h2{
  font-family: verdana;
  margin: 0;
  color: black;
  font-size: 100%;
  padding:20px;
}

/* The individual header properties, including the colour, font size and positioning */
header{
  font-size: 150%;
  background-color: white;
  width: 100%;
  height: 100px;
}

#pokeball_img{
  width: 30px;
  height: 30px;
}
/* The header decoration */
#rectangle{
  width: 100%;
  height: 10px;
  background: black;
}

#bulbasaur_img{
  width: 200px;
  height: 200px;
  padding-right: 1600px;
  padding-top: 571px;
}

#refresh{
  background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#refresh:hover {
    background-color: white; /* Green */
    color: black;
}

/* The individual footer properties, including the colour and positioning */
footer{
  background-color: white;
  width: 100%;
  height: 100px;
}

/* The smaller text adjustments inside the footer */
.newFooter{
  font-size: 90%;
  padding:5px;
}

/* Background colour */
body{
  background: black;
}

/* Positioning of the canvas */
#myContainer{
  margin: 0px auto;
  text-align: center;
}
